:root {
  --primary-color: #abb3f8;
  --hover-color: #bfeafc;
  --text-color: #333;
  --sidebar-bg: #f8f9fa;
  --navbar-bg: #ffffff;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #b7dbeb;
  background-image: url('assets/images/image.jpg');
  background-size: cover;
  background-position: center;
  
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 60px;
  padding: 10px 20px;
  background-color: var(--navbar-bg);
  border-bottom: 1px solid #0a0a0a;
  background-color: #81c8f8;

}

.branding {
  display: flex;
  align-items: center;
}

.logo {
  width: 70px;
  margin-right: 50px;
  padding-right: 80vh;

}

.site-name {
  font-size: 40px;
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}


.sidebar {
  
  top: 70px;
  left: 0;
  width: 250px;
  height: calc(100vh - 70px);
  background-color: var(--sidebar-bg);
  padding: 20px;
  border-right: 1px solid #0e0d0d;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #ffffff;
}

.dropdown button {
  width: 100%;
  padding: 10px;
  background-color: rgb(107, 185, 248);
  border: 1px solid #161616;
  cursor: pointer;
  text-align: left;
}

.dropdown-content {
  display: none;
  margin-top: 5px;
  padding-left: 10px;
}

.dropdown-content.show {
  display: block;
}

.dropdown-content a,
.nav-link {
  display: block;
  padding: 8px 0;
  text-decoration: none;
  color: var(--text-color);
}

.dropdown-content a:hover,
.nav-link:hover {
  background-color: #eee;
}


.main-content {
  margin-left: 270px;
  padding: 50px;
}


@media screen and (max-width: 768px) {
  .sidebar {
    position: relative;
    width: 100%;
    height: auto;
    border-right: none;
    border-bottom: 1px solid #64aae4;
    top: 0;
  }

  
}
